body {
  background: rgb(255, 215, 215);
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: rgb(93, 247, 208);
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin: 0 auto;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin: 8px 0;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;;
  margin: 0 auto;
}

/* 
<<first attempt>>

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: white;
  margin: 16px auto;
  padding: 1px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid white;
  padding: 8px 24px;
  display: block;
  margin: 0 auto;
} */